<app-header></app-header>

<section
  class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background"
  id="header1-f"
>
  <div
    class="mbr-overlay"
    style="opacity: 0.8; background-color: rgb(255, 255, 255)"
  ></div>

  <div class="align-center container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1">
          <strong>Quem Somos?</strong>
        </h1>

        <p class="mbr-text mbr-fonts-style display-7">
          A Farmácia Social é uma organização humanitária, não governamental e
          sem fins lucrativos, que promove a conexão de pessoas com o objetivo
          de promover doações de medicamentos. A empresa surgiu em 2020, quando
          um familiar de um dos desenvolvedores, infelizmente, faleceu devido ao
          câncer. Logo, sobraram algumas caixas de remédios do tratamento, o
          mesmo queria doá-las e não sabia como fazer a doação. A partir dessa
          intenção, surgiu a ideia de criar uma plataforma para conectar os
          doadores com os donatários.
        </p>
        <div class="mbr-section-btn mt-3">
          <a class="btn btn-black display-4" routerLink="/contato"
            >CONTATE-NOS :)</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content1 cid-s48udlf8KU" id="content1-8">
  <div class="text-center container">
    <div class="row justify-content-center">
      <div class="title col-12 col-md-9">
        <h3
          class="mbr-section-title mbr-fonts-style align-center mb-4 display-6"
        >
          <strong>Nossos Objetivos&lt;&gt;</strong>
        </h3>
        <h4
          class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7"
        >
          Facilitar a generosidade e evitar o desperdício, a sobra de uns podem
          ser a solução para outros.
        </h4>
        <h4
          class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7"
        >
          Atingir ao máximo de pessoas possíveis, afim de multiplicar as
          conexões solidárias.
        </h4>
      </div>
    </div>
  </div>
</section>

<section class="features24 cid-s9alGB9A1r" id="features1-q">
  <div class="text-center container">
    <div class="row">
      <div class="col-12">
        <h3 class="mb-4 mbr-fonts-style display-6">
          <strong>Princípios&lt;&gt;</strong>
        </h3>
      </div>
      <div class="card col-12 col-md-6 col-lg-3">
        <div class="card-wrapper">
          <div class="card-box align-center">
            <span class="mbr-iconfont mobi-mbri-globe mobi-mbri"></span>
            <h5 class="card-title align-center mbr-fonts-style display-7">
              <strong>Ética e transparência</strong>
            </h5>
            <p class="card-text align-center mbr-fonts-style display-7">
              Lidamos com palavras de honra, trabalhamos com ética e
              transparência, para que a distância solidária seja cada dia menor.
            </p>
          </div>
        </div>
      </div>
      <div class="card col-12 col-md-6 col-lg-3">
        <div class="card-wrapper">
          <div class="card-box align-center">
            <span class="mbr-iconfont mobi-mbri-hearth mobi-mbri"></span>
            <h5 class="card-title align-center mbr-fonts-style display-7">
              <strong>Respeito pela vida</strong>
            </h5>
            <p class="card-text align-center mbr-fonts-style display-7">
              Generosidade não é apenas uma ação, é sim uma virtude que
              beneficia á todos.
            </p>
          </div>
        </div>
      </div>
      <div class="card col-12 col-md-6 col-lg-3">
        <div class="card-wrapper">
          <div class="card-box align-center">
            <span class="mbr-iconfont mobi-mbri-like mobi-mbri"></span>
            <h5 class="card-title align-center mbr-fonts-style display-7">
              <strong>Qualidade e excelência</strong>
            </h5>
            <p class="card-text align-center mbr-fonts-style display-7">
              Oferecer um serviço de alta qualidade buscando a evolução diária.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="image3 cid-s9ajjbNyCN" id="image3-m">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4">
        <div class="image-wrapper">
          <img src="../../assets/images/dor-faz-bem-488x412.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="testimonails3 carousel slide testimonials-slider cid-s9akqvvb9L"
  data-interval="false"
  id="testimonials3-n"
>
  <div id="nossa_equipe" class="text-center container">
    <div class="text-center container">
      <h3 class="mb-4 mbr-fonts-style display-6">
        <strong>Nossa Equipe&lt;&gt;</strong>
      </h3>

      <carousel>
        <slide class="carousel-item">
          <div>
            <img
              class="user_image"
              src="../../assets/images/link-400x470.jpg"
              alt="first slide"
            />
          </div>

          <div class="user_text mb-4 text-left">
            <p class="mbr-fonts-style display-10">
              <em
                >""Atualmente sou estudande em Análise em desenvolvimento de
                sistemas, atuante na área de Infraestrutura. Busco ingressar na
                área de desenvolvimento e se especializar em Desenvolvimento Web
                com Java."</em
              >
            </p>
          </div>
          <div class="user_name mbr-fonts-style mb-1 display-9">
            <strong>Renan Mesquita de Abreu</strong>
          </div>
          <div class="user_desk mbr-fonts-style display-9">
            Técnico em Redes e Estudante de Full Stack com Java
          </div>
          <div class="user_desk mbr-fonts-style display-9">
            <a href="https://www.linkedin.com/in/renan-abreu-323266183/"
              >Linkedin :)
            </a>
          </div>
        </slide>

        <slide class="carousel-item">
          <div>
            <img
              class="user_image"
              src="../../assets/images/will.jpg"
              alt="first slide"
            />
          </div>

          <div class="user_text mb-4 text-left">
            <p class="mbr-fonts-style display-10">
              <em
                >"Sou Analista de Sistemas, atualmente como Desenvolvedor Full
                Stack Web Júnior. Busco aprimorar meus conhecimentos para
                alcançar a posição de Desenvolvedor Sênior."</em
              >
            </p>
          </div>
          <div class="user_name mbr-fonts-style mb-1 display-9">
            <strong>Willerson de Abreu</strong>
          </div>
          <div class="user_desk mbr-fonts-style display-9">
            Analista de Sistemas e Estudante de Full Stack com Java
          </div>
          <div class="user_desk mbr-fonts-style display-9">
            <a href="https://www.linkedin.com/in/willerson-abreu-72bb83115"
              >Linkedin :)
            </a>
          </div>
        </slide>

        <slide class="carousel-item">
          <div>
            <img
              class="user_image"
              src="../../assets/images/daivid-400x400.jpg"
              alt="first slide"
            />
          </div>

          <div class="user_text mb-4 text-left">
            <p class="mbr-fonts-style display-10">
              <em
                >"Sou Engenheiro Mecânico especializado em Gestão de projetos de
                negócios e Gestão de pessoas, atuante há 8 anos na indústria
                automotriz. Tenho como objetivo me especializar em
                desenvolvimento WEB e MOBILE."</em
              >
            </p>
          </div>
          <div class="user_name mbr-fonts-style mb-1 display-9">
            <strong>David Kalil Braga</strong>
          </div>
          <div class="user_desk mbr-fonts-style display-9">
            Engenheiro Mecâniconico e Estudante de Full Stack com Java
          </div>
          <div class="user_desk mbr-fonts-style display-9">
            <a href="https://www.linkedin.com/in/david-kalil-braga-6607292b/"
              >Linkedin :)
            </a>
          </div>
        </slide>

        <slide class="carousel-item">
          <div>
            <img
              class="user_image"
              src="../../assets/images/rafa-400x400.jpg"
              alt="first slide"
            />
          </div>

          <div class="user_text mb-4 text-left">
            <p class="mbr-fonts-style display-10">
              <em
                >"Eu sou Analista de Infraestrutura formado em Banco de Dados,
                hoje busco ingressar na carreira de desenvolvedor através da
                especialização em Full Stack em Java."</em
              >
            </p>
          </div>
          <div class="user_name mbr-fonts-style mb-1 display-9">
            <strong>Rafael Dias Pereira</strong>
          </div>
          <div class="user_desk mbr-fonts-style display-9">
            Analista de infraestrutura e Estudante de Full Stack com Java
          </div>
          <div class="user_desk mbr-fonts-style display-9">
            <a href="http://linkedin.com/in/rafael-pereira-564238a2"
              >Linkedin :)
            </a>
          </div>
        </slide>

        <slide class="carousel-item">
          <div>
            <img
              class="user_image"
              src="../../assets/images/alessandra-400x400.jpg"
              alt="first slide"
            />
          </div>

          <div class="user_text mb-4 text-left">
            <p class="mbr-fonts-style display-10">
              <em
                >"No auge dos 30 anos, resolvi migrar de área, me encantando
                pela tecnologia. Assim, conheci a Digital House, onde estou
                potencializando meus conhecimentos com o objetivo de me tornar
                uma excelente desenvolvedora Full Stack."</em
              >
            </p>
          </div>
          <div class="user_name mbr-fonts-style mb-1 display-9">
            <strong>Alessandra Alves Silva</strong>
          </div>
          <div class="user_desk mbr-fonts-style display-9">
            Psicopedagoga e Estudante de Full Stack com Java
          </div>
          <div class="user_desk mbr-fonts-style display-9">
            <a href="#">Linkedin :)</a>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</section>

<section class="clients1 cid-s9alntWtw9" id="clients1-o">
  <div class="images-container container-fluid">
    <div class="mbr-section-head">
      <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-6">
        <strong>Nossos Parceiros&lt;&gt;</strong>
      </h3>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-md-3 card">
        <img src="../../assets/images/foto-pacheco-240x182.jpeg" alt="" />
      </div>
      <div class="col-md-3 card">
        <img src="../../assets/images/raia-240x154.jpg" alt="" />
      </div>
      <div class="col-md-3 card">
        <img src="../../assets/images/venancio-240x174.jpg" alt="" />
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
