<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #e3f2fd">
      <div class="logo" style="display: flex; justify-content: center; align-items: center">
          <a class="farmaciaSocial" href="/" style="text-decoration: none; padding: 0px">
              <img src="../../../assets/images/logo.png" height="50px" class="d-inline-block align-top" />
              <span style="color: #f4a261">Farmácia</span>
              <span style="color: #2a9d8f">Social</span>
          </a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mx-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/home">
                  <fa-icon [icon]="faHome"></fa-icon>Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/sobre">
                      <fa-icon [icon]="faInfoCircle"></fa-icon>Sobre
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/duvidas">
                    <fa-icon [icon]="faQuestion"></fa-icon>Duvidas
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/contato">
                    <fa-icon [icon]="faHeadset"></fa-icon>Contato
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/login">
                  <fa-icon [icon]="faUserCircle"></fa-icon>Meu Perfil</a>
              </li>
          </ul>
          <button id="novaDoacao" class="logo btn btn-orange my-2 my-sm-0" type="submit">
      DOAR
    </button>
          <!-- <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
      </div>
  </nav>
</header>
