<app-header></app-header>

<section style="margin-top: 90px;">
    <tabset [justified]="true">
      <tab heading="Meu cadastro">
        <form [formGroup]="form" (ngSubmit)="submit()" class="centralize col-md-6 col-lg-6">
            <div>

                <div class="card-body" id="cadastro-perfil">
                    <div class="form-group">
                        <label class="font-weight-bold">Dados da conta</label>
                        <br>
                        <label for="exampleInputName">Nome</label>
                        <input formControlName="name" class="form-control" id="exampleInputName"
                            aria-describedby="emailHelp" placeholder="Nome completo">
                        <div class="error-message" *ngIf="!form.controls['name'].valid">
                          {{form.controls['name'].errors}}
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail">E-mail</label>
                        <input formControlName="email" class="form-control" id="exampleInputEmail"
                            aria-describedby="emailHelp" placeholder="E-mail">
                        <small id="emailHelp" class="form-text text-muted">Não compartilharmos seus dados com
                            terceiros.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPhone">Telefone</label>
                        <input formControlName="phone" class="form-control" id="exampleInputEmail"
                            aria-describedby="emailHelp" placeholder="Telefone">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="********">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputCPF">CPF</label>
                        <input formControlName="cpf" class="form-control" id="exampleCPF" placeholder="CPF">
                    </div>

                    <label class="font-weight-bold">Endereço</label>
                    <div class="form-group">
                        <div class="form-group row">
                            <div class="form-group col-md-9">
                                <label for="rua">Rua*</label>
                                <input formControlName="address" type="text" class="form-control" id="inputAddress2" placeholder="">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputAddress2">Número</label>
                                <input (blur)="setNumberOnAddress($event.target)"formControlName="number" type="text" class="form-control" id="inputAddress2" placeholder="">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>

            </div>
        </form>
      </tab>
      <tab heading="Meus pedidos">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Status</th>
              <th scope="col">Medicamento</th>
              <th scope="col">Tarja</th>
              <th scope="col">Embalagem</th>
              <th scope="col">Dosagem</th>
              <th scope="col">Validade</th>
              <th scope="col">Local de encontro</th>
              <th scope="col">Data de encontro</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Publicado</td>
              <td>Amoxicilina</td>
              <td>
                <div
                  style="background-color: green; height: 30px; width: 100%"
                ></div>
              </td>
              <td>Caixa</td>
              <td>50mg</td>
              <td>30/12/2021</td>
              <td>Alameda dos Andes</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </tab>
      <tab heading="Minhas doações">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Status</th>
              <th scope="col">Medicamento</th>
              <th scope="col">Tarja</th>
              <th scope="col">Embalagem</th>
              <th scope="col">Dosagem</th>
              <th scope="col">Validade</th>
              <th scope="col">Local de encontro</th>
              <th scope="col">Data de encontro</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Publicado</td>
              <td>Amoxicilina</td>
              <td>
                <div
                  style="background-color: red; height: 30px; width: 100%"
                ></div>
              </td>
              <td>Caixa</td>
              <td>50mg</td>
              <td>30/12/2021</td>
              <td>Alameda dos Andes</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </tab>
    </tabset>
  </section>

<!--
  div do meu cadastro
-->
<!-- <div class="container d-flex flex-row justify-content-center div-header">
    <h2>Meu cadastro
        <br>
        <p class="font-size-15 font-weight-normal">Configure seu cadastro</p>
    </h2>
</div> -->



