<div class="container">
  <div class="form-wrapper">
    <div class="logo" style="display: flex; justify-content: center; align-items: center">
      <a class="farmaciaSocial" href="/" style="text-decoration: none; padding: 0px">
        <img src="../../../assets/images/logo.png" height="50px" class="d-inline-block align-top" />
        <span style="color: #f4a261"> Farmácia </span>
        <span style="color: #2a9d8f">Social</span>
      </a>
    </div>

    <span>Crie a sua conta. É gratis!</span>
    <form [formGroup]="form" (ngSubmit)="submit()" class="form-cadastro-usuario">
      <label>Nome Completo</label>
      <fieldset class="form-group">
        <input formControlName="name" placeholder="Nome" class="form-control form-control-sm" type="text" />
        <div class="error-message" *ngIf="!form.controls['name'].valid">{{form.controls['name'].errors}}</div>
      </fieldset>
      <label>Email</label>
      <fieldset class="form-group">
        <input formControlName="email" placeholder="Email " class="form-control form-control-sm" type="email" />
        <div class="error-message" *ngIf="!form.controls['email'].valid">{{form.controls['email'].errors}}</div>
      </fieldset>
      <label>Telefone Celular</label>
      <fieldset class="form-group">
        <input formControlName="phone" mask="{{phoneMask}}" placeholder="Telefone" class="form-control form-control-sm" maxlength="15" type="text" />
        <div class="error-message" *ngIf="!form.controls['phone'].valid">{{form.controls['phone'].errors}}</div>
      </fieldset>
      <label>Senha</label>
      <div class="input-group flex-row">
        <input formControlName="password" placeholder="Senha" class="form-control form-control-sm" type="{{showPassword ? 'text' : 'password'}}" />
        <div class="input-group-append sm btn-eye" (click)="handlePasswordInput()">
          <fa-icon class="input-group-text" [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
        </div>
      </div>
      <div class="error-message" *ngIf="!form.controls['password'].valid">{{form.controls['password'].errors}}</div>
      <label>CPF</label>
      <fieldset class="form-group">
        <input formControlName="cpf" mask="{{cpfMask}}" placeholder="CPF" class="form-control form-control-sm" maxlength="14" type="text" />
        <div class="error-message" *ngIf="!form.controls['cpf'].valid">{{form.controls['cpf'].errors}}</div>
      </fieldset>

      <label>CEP</label>
      <fieldset class="form-group">
        <input formControlName="cep" (blur)="getAddressData($event.target)" mask="{{cepMask}}" placeholder="CEP" class="form-control form-control-sm" type="text" maxlength="9" />
        <div class="error-message" *ngIf="!form.controls['cep'].valid">{{form.controls['cep'].errors}}</div>
      </fieldset>

      <label>Número</label>
      <fieldset class="form-group">
        <input formControlName="number" placeholder="Número" class="form-control form-control-sm" type="number" />
        <div class="error-message" *ngIf="!form.controls['number'].valid">{{form.controls['number'].errors}}</div>
      </fieldset>

      <label>Endereço Completo</label>
      <fieldset class="form-group">
        <input formControlName="address" placeholder="Endereço" class="form-control form-control-sm" type="text" />
        <div class="error-message" *ngIf="!form.controls['address'].valid">{{form.controls['address'].errors}}</div>
      </fieldset>
      <button class="btn btn-block btn-orange" type="submit">
        {{ id ? 'Atualizar' : 'Registrar'}} usuário
      </button>
    </form>
    <p>
      Ao se registrar, você concorda com os
      <strong><a href="#1">Termos de Uso</a></strong> e com a
      <strong> <a href="#2">Política de Privacidade</a> </strong>, do site Farmácia Social
    </p>
  </div>
</div>
