<app-header></app-header>


<section class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">



    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Quem Somos?</strong></h1>

                <p class="mbr-text mbr-fonts-style display-7">A Farmácia Social é uma organização humanitária, não governamental e sem fins lucrativos, que promove a conexão de pessoas com o objetivo de promover doações de medicamentos. A empresa surgiu em 2020, quando um familiar de um dos desenvolvedores,
                    infelizmente, faleceu devido ao câncer. Logo, sobraram algumas caixas de remédios do tratamento, o mesmo queria doá-las e não sabia como fazer a doação. A partir dessa intenção, surgiu a ideia de criar uma plataforma para conectar
                    os doadores com os donatários.</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-black display-4" href="contato.html">CONTATE-NOS :)</a></div>
            </div>
        </div>
    </div>
</section>



<section class="content1 cid-s48udlf8KU" id="content1-8">

    <div class="text-center container">
        <div class="row justify-content-center">
            <div class="title col-12 col-md-9">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-6"><strong>Nossos Objetivos&lt;&gt;</strong></h3>
                <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7">Facilitar a generosidade e evitar o desperdício, a sobra de uns podem ser a solução para outros.

                </h4>
                <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7">Atingir ao máximo de pessoas possíveis, afim de multiplicar as conexões solidárias.
                </h4>

            </div>
        </div>
    </div>
</section>



<section class="features24 cid-s9alGB9A1r" id="features1-q">

    <div class="text-center container">
        <div class="row">
            <div class="col-12">
                <h3 class="mb-4 mbr-fonts-style display-6"><strong>Princípios&lt;&gt;</strong></h3>

            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-globe   mobi-mbri"></span>
                        <h5 class="card-title align-center mbr-fonts-style display-7"><strong>Ética e transparência</strong></h5>
                        <p class="card-text align-center mbr-fonts-style display-7">Lidamos com palavras de honra, trabalhamos com ética e transparência, para que a distância solidária seja cada dia menor.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-hearth mobi-mbri"></span>
                        <h5 class="card-title align-center mbr-fonts-style display-7"><strong>Respeito pela vida</strong></h5>
                        <p class="card-text align-center mbr-fonts-style display-7">Generosidade não é apenas uma ação, é sim uma virtude que beneficia á todos.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-like mobi-mbri"></span>
                        <h5 class="card-title align-center mbr-fonts-style display-7"><strong>Qualidade e excelência</strong></h5>
                        <p class="card-text align-center mbr-fonts-style display-7">Oferecer um serviço de alta qualidade buscando a evolução diária.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="image3 cid-s9ajjbNyCN" id="image3-m">




    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
                <div class="image-wrapper">
                    <img src="../../assets/images/dor-faz-bem-488x412.png">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonails3 carousel slide testimonials-slider cid-s9akqvvb9L" data-interval="false" id="testimonials3-n">





    <div id="nossa_equipe" class="text-center container">
        <div class="text-center container">
            <h3 class="mb-4 mbr-fonts-style display-6"><strong>Nossa Equipe&lt;&gt;</strong></h3>
        </div>
    </div>
</section>






<section class="clients1 cid-s9alntWtw9" id="clients1-o">

    <div class="images-container container-fluid">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-6"><strong>Nossos Parceiros&lt;&gt;</strong></h3>


        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-3 card">
                <img src="../../assets/images/foto-pacheco-240x182.jpeg" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="../../assets/images/raia-240x154.jpg" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="../../assets/images/venancio-240x174.jpg" alt="">
             </div>





        </div>
    </div>

</section>

<app-footer></app-footer>
