<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="formatForm shadow-sm">
    <div class="row">
      <div class="form-group col-sm-12 col-md-6">
        <label>Imagem Frontal</label>
        <!-- Area de Update da Imagem -->
        <div class="image-area mt-4">
          <img
            src="{{ imageBase64Front }}"
            alt=""
            class="img-fluid rounded shadow-sm mx-auto d-block"
            height="300"
            width="400"
          />
        </div>
        <fieldset class="form-group">
          <input
            disabled
            formControlName="pictureFile"
            class="form-control"
            required
            type="text"
            value="{{ imageBase64Front ? imageBase64Front : '' }}"
            hidden
          />
        </fieldset>
      </div>
      <div class="form-group col-sm-12 col-md-6">
        <label>Imagem Traseira</label>
        <!-- Area de Update da Imagem -->
        <div class="image-area mt-4">
          <img
            src="{{ imageBase64Back }}"
            alt=""
            class="img-fluid rounded shadow-sm mx-auto d-block"
            height="500"
            width="400"
          />
        </div>
        <fieldset class="form-group">
          <input
            disabled
            formControlName="pictureFileBack"
            class="form-control"
            required
            type="text"
            value="{{ imageBase64Back ? imageBase64Back : '' }}"
            hidden
          />
        </fieldset>
      </div>
    </div>
    <div class="form-group">
      <label for="formTitulo">Título</label>
      <fieldset class="form-group">
        <input
          disabled
          formControlName="title"
          placeholder="Nome do medicamento.."
          class="form-control"
          required
          type="text"
        />
      </fieldset>
    </div>
    <div class="form-group">
      <label for="formDescricao">Descrição</label>
      <fieldset class="form-group">
        <textarea
          disabled
          formControlName="description"
          rows="3"
          placeholder="Descreva a composição do medicamento.."
          class="form-control"
          required
        ></textarea>
      </fieldset>
    </div>
    <fieldset class="form-group">
      <label for="formDescricao">Tarja</label>
      <div class="d-flex justify-content-around">
        <div class="form-check d-flex">
          <fieldset class="form-group">
            <input
              disabled
              formControlName="stripe"
              id="tarjaVerde"
              value="green"
              checked
              class="form-check-input"
              required
              type="radio"
            />
          </fieldset>
          <span class="badge badge-success" style="width: 30px; height: 24px"
            >&nbsp;</span
          >
        </div>
        <div class="form-check d-flex">
          <fieldset class="form-group">
            <input
              disabled
              formControlName="stripe"
              id="tarjaAmarela"
              value="yellow"
              class="form-check-input"
              required
              type="radio"
            />
          </fieldset>
          <span class="badge badge-warning" style="width: 30px; height: 24px"
            >&nbsp;</span
          >
        </div>
        <div class="form-check d-flex">
          <fieldset class="form-group">
            <input
              disabled
              formControlName="stripe"
              id="tarjaVermelha"
              value="red"
              class="form-check-input"
              required
              type="radio"
            />
          </fieldset>
          <span class="badge badge-danger" style="width: 30px; height: 24px"
            >&nbsp;</span
          >
        </div>
        <div class="form-check d-flex">
          <fieldset class="form-group">
            <input
              disabled
              formControlName="stripe"
              id="tarjaPreta"
              value="black"
              class="form-check-input"
              required
              type="radio"
            />
          </fieldset>
          <span class="badge badge-dark" style="width: 30px; height: 24px"
            >&nbsp;</span
          >
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <label for="formDescricao">Embalagem</label>
      <div class="d-flex justify-content-around">
        <div class="form-check d-flex">
          <fieldset class="form-group">
            <input
              disabled
              formControlName="packing"
              id="caixa"
              value="caixa"
              class="form-check-input"
              required
              type="radio"
              checked
            />
          </fieldset>
          <label class="form-check-label" for="caixa">
            <fa-icon
              class="mr-2 text-muted"
              [icon]="faPrescriptionBottle"
            ></fa-icon>
            Caixa
          </label>
        </div>
        <div class="form-check d-flex">
          <fieldset class="form-group">
            <input
              disabled
              formControlName="packing"
              id="cartela"
              value="cartela"
              class="form-check-input"
              required
              type="radio"
            />
          </fieldset>
          <label class="form-check-label" for="cartela">
            <fa-icon class="mr-2 text-muted" [icon]="faPills"></fa-icon>
            Cartela
          </label>
        </div>
      </div>
    </fieldset>
    <div class="row">
      <div class="form-group col-sm-12 col-md-6">
        <label for="formQuantidade">Quantidade</label>
        <fieldset class="form-group">
          <input
            disabled
            formControlName="amount"
            placeholder="Unidades a doar.."
            class="form-control"
            required
            type="number"
            min="1"
          />
        </fieldset>
      </div>
      <div class="form-group col-sm-12 col-md-6">
        <label for="formDosagem">Dosagem (mg)</label>
        <fieldset class="form-group">
          <input
            disabled
            formControlName="dosage"
            placeholder="Descreva a dosagem do medicamento.."
            class="form-control"
            required
            type="number"
            min="1"
          />
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12 col-md-6">
        <label for="formFabricação">Data de fabricação</label>
        <fieldset class="form-group">
          <input
            disabled
            formControlName="manufacturyDate"
            class="form-control"
            required
            type="date"
          />
        </fieldset>
      </div>

      <div class="form-group col-sm-12 col-md-6">
        <label for="formValidade">Data de validade</label>
        <fieldset class="form-group">
          <input
            disabled
            formControlName="shelfLife"
            class="form-control"
            required
            type="date"
          />
        </fieldset>
      </div>
    </div>

    <div class="form-group">
      <label for="formLote">Número do lote</label>
      <fieldset class="form-group">
        <input
          disabled
          formControlName="batchCode"
          placeholder="Digite o número do lote do medicamento.."
          class="form-control"
          required
          type="text"
        />
      </fieldset>
    </div>

    <div class="form-group">
      <label for="formLote">Farmácia</label>
      <fieldset class="form-group">
        <select
          disabled
          formControlName="pharmacyId"
          placeholder="Id da farmácia.."
          class="form-control"
          required
          type="number"
          min="1"
        >
          <option
            *ngFor="let pharmacy of pharmacyList"
            value="{{ pharmacy.id }}"
            [selected]="donationData.pharmacyId === pharmacy.id"
          >
            {{ pharmacy.fantasyName }}
          </option>
        </select>
      </fieldset>
    </div>
    <div class="form-group">
      <fieldset class="form-group">
        <select
          formControlName="statusId"
          class="form-control"
          required
          type="number"
          min="1"

        >
          <option
            *ngFor="let status of statusList"
            value="{{ status.id }}"
            [selected]="donationData.statusId === status.id"
          >
            {{ status.status_string }}
          </option>
        </select>
      </fieldset>
    </div>
  </div>
  <button
      style="display: flex; margin: 1vh auto"
      class="btn btn-success btn-lg"
      type="submit"
  >
    Atualizar
  </button>
  <!-- <div class="d-flex flex-row content-between" *ngIf="!isDoneDonations">
    <button
      value="done"
      (click)="setActionType($event)"
      style="display: flex; margin: 1vh auto"
      class="btn btn-success btn-lg"
      type="submit"
    >
      Concluir
    </button>
    <button
      value="reprove"
      (click)="setActionType($event)"
      style="display: flex; margin: 1vh auto"
      class="btn btn-warning btn-lg"
      type="submit"
    >
      Reprovar
    </button>
    <button
      value="cancel"
      (click)="setActionType($event)"
      style="display: flex; margin: 1vh auto"
      class="btn btn-danger btn-lg"
      type="submit"
    >
      Cancelar
    </button>
  </div> -->
</form>
