<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="formatForm shadow-sm">
  <div class="row">
    <div class="form-group col-sm-12 col-md-6">
      <label>Imagem Frontal</label>
      <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
        <!-- <input id="upload-front" type="file" onchange="readURLFront(this);" class="upload form-control border-0"> -->
        <input id="upload-front" type="file" accept=".png, .jpg, .jpeg" class="upload form-control border-0" (change)="handleFileInput($event.target.files,'Front')">
        <label id="upload-front-label" for="upload-front" class="upload-label font-weight-light text-muted">Selecione o arquivo</label>
        <div class="input-group-append">
          <label for="upload-front" class="btn btn-light m-0 rounded-pill px-4">
          <fa-icon class="mr-2 text-muted" [icon]="faCloudUploadAlt"></fa-icon>
          <small class="text-uppercase font-weight-bold text-muted"> Selecione o arquivo</small>
          </label>
        </div>
      </div>
      <!-- Area de Update da Imagem -->
      <div class="image-area mt-4">
        <!-- <img id="imageResultFront" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"> -->
        <img src="{{imageBase64Front}}" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" height="600" width="400">
      </div>
      <fieldset class="form-group">
        <input formControlName="pictureFile" class="form-control" required type="text" value="{{imageBase64Front ? imageBase64Front : '' }}" hidden />
      </fieldset>
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <label>Imagem Traseira</label>
      <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
        <!-- <input id="upload-back" type="file" onchange="readURLBack(this);" class="upload form-control border-0"> -->
        <input id="upload-back" type="file" accept=".png, .jpg, .jpeg" class="upload form-control border-0" (change)="handleFileInput($event.target.files,'Back')">
        <label id="upload-back-label" for="upload-back" class="upload-label font-weight-light text-muted">Selecione o arquivo</label>
        <div class="input-group-append">
          <label for="upload-back" class="btn btn-light m-0 rounded-pill px-4">
            <fa-icon class="mr-2 text-muted" [icon]="faCloudUploadAlt"></fa-icon>
            <small class="text-uppercase font-weight-bold text-muted"> Selecione o arquivo</small>
          </label>
        </div>
      </div>
      <!-- Area de Update da Imagem -->
      <div class="image-area mt-4">
        <!-- <img id="imageResultBack" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"> -->
        <img src="{{imageBase64Back}}" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" height="600" width="400">
      </div>
      <fieldset class="form-group">
        <input formControlName="pictureFileBack" class="form-control" required type="text" value="{{imageBase64Back ? imageBase64Back : '' }}" hidden />
      </fieldset>
    </div>
  </div>
  <div class="form-group">
    <label for="formTitulo">Título</label>
    <fieldset class="form-group">
      <input formControlName="title" placeholder="Nome do medicamento.." class="form-control" required type="text" />
    </fieldset>
  </div>
  <div class="form-group">
    <label for="formDescricao">Descrição</label>
    <fieldset class="form-group">
      <textarea formControlName="description" rows="3" placeholder="Descreva a composição do medicamento.." class="form-control" required></textarea>
    </fieldset>
  </div>
  <fieldset class="form-group">
    <label for="formDescricao">Tarja</label>
    <div class="d-flex justify-content-around">
      <div class="form-check d-flex">
        <fieldset class="form-group">
          <input formControlName="stripe" id="tarjaVerde" value="green" checked class="form-check-input" required type="radio" />
        </fieldset>
        <span class="badge badge-success" style="width: 30px; height: 24px">&nbsp;</span>
      </div>
      <div class="form-check d-flex">
        <fieldset class="form-group">
          <input formControlName="stripe" id="tarjaAmarela" value="yellow" class="form-check-input" required type="radio" />
        </fieldset>
        <span class="badge badge-warning" style="width: 30px; height: 24px">&nbsp;</span>
      </div>
      <div class="form-check d-flex">
        <fieldset class="form-group">
          <input formControlName="stripe" id="tarjaVermelha" value="red" class="form-check-input" required type="radio" />
        </fieldset>
        <span class="badge badge-danger" style="width: 30px; height: 24px">&nbsp;</span>
      </div>
      <div class="form-check d-flex">
        <fieldset class="form-group">
          <input formControlName="stripe" id="tarjaPreta" value="black" class="form-check-input" required type="radio" />
        </fieldset>
        <span class="badge badge-dark" style="width: 30px; height: 24px">&nbsp;</span>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label for="formDescricao">Embalagem</label>
    <div class="d-flex justify-content-around">
      <div class="form-check d-flex">
        <fieldset class="form-group">
          <input formControlName="packing" id="caixa" value="caixa" class="form-check-input" required type="radio" checked/>
        </fieldset>
        <label class="form-check-label" for="caixa">
        <fa-icon class="mr-2 text-muted" [icon]="faPrescriptionBottle"></fa-icon>
          Caixa
        </label>
      </div>
      <div class="form-check d-flex">
        <fieldset class="form-group">
          <input formControlName="packing" id="cartela" value="cartela" class="form-check-input" required type="radio" />
        </fieldset>
        <label class="form-check-label" for="cartela">
        <fa-icon class="mr-2 text-muted" [icon]="faPills"></fa-icon>
          Cartela
        </label>
      </div>
    </div>
  </fieldset>
  <div class="row">
    <div class="form-group col-sm-12 col-md-6">
      <label for="formQuantidade">Quantidade</label>
      <fieldset class="form-group">
        <input formControlName="amount" placeholder="Unidades a doar.." class="form-control" required type="number" min="1" />
      </fieldset>
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <label for="formDosagem">Dosagem (mg)</label>
      <fieldset class="form-group">
        <input formControlName="dosage" placeholder="Descreva a dosagem do medicamento.." class="form-control" required type="number" min="1" />
      </fieldset>
    </div>
  </div>

  <label class="text-bold">Embalagem</label>
  <div class="custom-control custom-switch mb-3">
    <input required type="checkbox" [value]="true" class="custom-control-input" id="customSwitch1">
    <label class="custom-control-label" for="customSwitch1"></label> A caixa ou cartelas estão lacradas e bem conservadas?
  </div>

  <div class="row">
    <div class="form-group col-sm-12 col-md-6">
      <label for="formFabricação">Data de fabricação</label>
      <fieldset class="form-group">
        <input formControlName="manufacturyDate" class="form-control" required type="date" />
      </fieldset>
    </div>

    <div class="form-group col-sm-12 col-md-6">
      <label for="formValidade">Data de validade</label>
      <fieldset class="form-group">
        <input formControlName="shelfLife" class="form-control" required type="date" />
      </fieldset>
    </div>
  </div>

  <div class="form-group">
    <label for="formLote">Número do lote</label>
    <fieldset class="form-group">
      <input formControlName="batchCode" placeholder="Digite o número do lote do medicamento.." class="form-control" required type="text" />
    </fieldset>
  </div>

  <div class="form-group">
    <label for="formLote">Farmácia</label>
    <fieldset class="form-group">
      <select formControlName="pharmacyId" placeholder="Id da farmácia.." class="form-control" required type="number" min="1">
        <option
          *ngFor="let pharmacy of pharmacyList"
          value="{{pharmacy.id}}"
          [selected]="donationData.pharmacyId === pharmacy.id"
        >
          {{ pharmacy.fantasyName }}
        </option>
      </select>
    </fieldset>
  </div>
  <div class="form-group">
    <label for="formLote">Status id</label>
    <fieldset class="form-group">
      <select formControlName="statusId" class="form-control" required type="number" min="1">
        <option
          *ngFor="let status of statusList"
          value="{{status.id}}"
          [selected]="donationData.statusId === status.id"
        >
          {{ status.status_string }}
        </option>
      </select>
    </fieldset>
  </div>
  </div>

  <div class="row p-3 align-items-center">
    <legend class="termosUso col-sm-12 col-md-9 mt-2">Ao publicar você concorda e aceita nossos Termos de Uso e Privacidade</legend>
    <button class="logo btn btn-orange col-sm-12 col-md-3 mt-2" type="submit">
      Atualizar Anúncio
    </button>
  </div>

</form>
