<footer class="dark-footer ">
  <div class="footer-component">
    <a href="sobre.html#nossa_equipe">
        <div class="left-content">Nossa equipe</div>
    </a>

    <div class="center-content">Nossos parceiros</div>

    <div class="right-content">

    <!-- Twitter -->
    <button class="share-button" data-sharer="twitter" data-title="Confira medicamentos que estão em doação ou ajude alguém doando." data-hashtags="farmacia-social, medicamento-gratuito">
      <img class="share-icon" src="../../../assets/images/share-icons/twitter.svg" />
    </button>

    <!-- Facebook  -->
    <button class="share-button" data-sharer="facebook" data-title="Confira medicamentos que estão em doação ou ajude alguém doando." data-hashtags="farmacia-social, medicamento-gratuito">
      <img class="share-icon" src="../../../assets/images/share-icons/facebook.svg" />
    </button>

    <!-- Instagram -->
    <button class="share-button" data-sharer="email" data-title="Confira medicamentos que estão em doação ou ajude alguém doando." data-hashtags="farmacia-social, medicamento-gratuito">
      <img class="share-icon" src="../../../assets/images/share-icons/email.svg" />
    </button>

    <!-- LinkedIn -->
    <button class="share-button" data-sharer="linkedin" data-title="Confira medicamentos que estão em doação ou ajude alguém doando." data-hashtags="farmacia-social, medicamento-gratuito" data-url="https://ellisonleao.github.io/.js/">
      <img class="share-icon" src="../../../assets/images/share-icons/linkedin.svg" />
    </button>

    <!-- WhatsApp  
    <button class="share-button" data-sharer="whatsapp" data-title="Confira medicamentos que estão em doação ou ajude alguém doando." data-hashtags="farmacia-social, medicamento-gratuito" data-web="true">
      <img class="share-icon" src="../../../assets/images/share-icons/whatsapp.svg" />
    </button>-->
    </div>
  </div>
</footer>
