<footer class="black-footer">
  <div id="div_footer" class="flex-container">
    <div class="footer-component">
      <!-- <a href="sobre.html#nossa_equipe">
        <div class="footer-copyright text-center py-3 textwidget">Nossa equipe</div>
      </a> -->

      <!-- <div id="div_parceiros" class="footer-copyright text-center py-3 textwidget">Nossos parceiros</div> -->

      <div id="div_sociais d-flex" style="margin: 0 auto;">
        <!-- Twitter -->
        <button class="share-button" data-sharer="twitter"
          data-title="Confira medicamentos que estão em doação ou ajude alguém doando."
          data-hashtags="farmacia-social, medicamento-gratuito">
          <img class="share-icon" src="../../../assets/images/share-icons/twitter_white.svg" />
        </button>

        <!-- Facebook  -->
        <button class="share-button" data-sharer="facebook"
          data-title="Confira medicamentos que estão em doação ou ajude alguém doando."
          data-hashtags="farmacia-social, medicamento-gratuito">
          <img class="share-icon" src="../../../assets/images/share-icons/facebook_white.svg" />
        </button>

        <!-- Instagram -->
        <button class="share-button" data-sharer="email"
          data-title="Confira medicamentos que estão em doação ou ajude alguém doando."
          data-hashtags="farmacia-social, medicamento-gratuito">
          <img class="share-icon" src="../../../assets/images/share-icons/email_white.png" />
        </button>

        <!-- LinkedIn -->
        <button class="share-button" data-sharer="linkedin"
          data-title="Confira medicamentos que estão em doação ou ajude alguém doando."
          data-hashtags="farmacia-social, medicamento-gratuito" data-url="https://ellisonleao.github.io/.js/">
          <img class="share-icon" src="../../../assets/images/share-icons/linkedin_white.svg" />
        </button>

        <!-- WhatsApp  -->
        <button class="share-button" data-sharer="whatsapp"
          data-title="Confira medicamentos que estão em doação ou ajude alguém doando."
          data-hashtags="farmacia-social, medicamento-gratuito" data-web="true">
          <img class="share-icon" src="../../../assets/images/share-icons/whatsapp_white_2.png" />
        </button>
      </div>
    </div>
    <div class="copyright-bar">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> farmaciasocial.com</a>
    </div>
  </div>

</footer>
