h1 {
    color: #2a9d8f;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.5em;
}

.form-center {
    padding-top: 200px;
    padding-bottom: 100px;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.destaque {
    font-weight: bold;
    font-size: 20px;
}

.form-signin {
    width: 100%;
    max-width: 480px;
    padding: 30px;
    margin: auto;
    background-color: white;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

h1 {
    color: #2a9d8f;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.5em;
}