<div class="container form-center">
    <form [formGroup]="form" (ngSubmit)="submit()" class="form-signin">
        <div class="text-center mb-4">
            <div class="logo" style="display: flex; justify-content: center; align-items: center">
                <a class="farmaciaSocial" routerLink="/" style="text-decoration: none; padding: 0px">
                    <img src="../../../assets/images/logo.png" height="50px" class="d-inline-block align-top" />
                    <span style="color: #f4a261">Farmácia </span>
                    <span style="color: #2a9d8f">Social</span>
                </a>
            </div>
            <h1 class="h4 mb-3">Esqueceu sua senha?</h1>
            <p>
                Não se preocupe! Insira o seu e-mail de cadastro e enviaremos instruções para você.
            </p>
        </div>

        <div class="form-label-group">
            <fieldset class="form-group">
                <input formControlName="email" placeholder="Digite seu e-mail..." class="form-control form-control-sm" type="email" />
            </fieldset>
        </div>

        <button class="btn btn-primary btn-block btn-orange" [disabled]="!form.valid" type="submit">
      Receber instruções
    </button>
        <p class="mt-5 mb-3 text-muted text-center">
            Voltar para
            <a class="nav-link" [routerLink]="['/login']" style="text-decoration: none">
                <span class="destaque" style="color: #f4a261">Entrar</span>
            </a>
        </p>
    </form>

</div>