<section>
  <carousel>
    <slide class="carousel-slide-item" >
      <br>
      <br>
      <br>
      <img class="carousel-images" src="../../assets/images/banner_doar.jpg" alt="first slide">
      <div class="carousel-caption text-left">
        
       
        <p>
            <a class="btn btn-lg btn-primary" routerLink="/usuarios/cadastrar" role="button">DOE AGORA :)</a>
        </p>
      </div>
    </slide>
    <slide class="carousel-slide-item" >
      <br>
      <br>
      <br>
      <img class="carousel-images" src="../../assets/images/banner_parceiros.png" alt="second slide">
      <div class="carousel-caption">
       
        <p>
            <a class="btn btn-lg btn-primary"routerLink="/farmacias/cadastrar" role="button">CLIQUE AQUI :)</a>
        </p>
    </div>
    </slide>
    <slide class="carousel-slide-item" >
      <br>
      <br>
      <br>
      <img class="carousel-images" src="../../assets/images/banner_sobre.jpg" alt="third slide">
      <div class="carousel-caption">
       
        <p>
            <a class="btn btn-lg btn-primary"routerLink="/sobre" role="button">CLIQUE AQUI :)</a>
        </p>
      </div>
    </slide>
  </carousel>
</section>
