<section>
  <carousel>
    <slide class="carousel-slide-item" >
      <img class="carousel-images" src="../../assets/images/back1.jpg" alt="first slide">
      <div class="carousel-caption text-left">
        <h1>Example headline.</h1>
        <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </p>
        <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>
        </p>
      </div>
    </slide>
    <slide class="carousel-slide-item" >
      <img class="carousel-images" src="../../assets/images/back2.jpg" alt="second slide">
      <div class="carousel-caption">
        <h1>Another example headline.</h1>
        <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </p>
        <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a>
        </p>
    </div>
    </slide>
    <slide class="carousel-slide-item" >
      <img class="carousel-images" src="../../assets/images/back3.jpg" alt="third slide">
      <div class="carousel-caption">
        <h1>Another example headline.</h1>
        <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </p>
        <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a>
        </p>
      </div>
    </slide>
  </carousel>
</section>
