<app-header></app-header>
<div class="corpoTela container">
    <div class="row">
        <section class="imagem col-sm-12 col-md-6">
            <img src="../../../assets/images/remedio.jpg" class="imagem img-fluid">
        </section>

        <section class="conteudo col-sm-12 col-md-6 d-flex-column">
            <h2 class="text-weight-bold text-center">Amoxicilina</h2>

            <h3>Descrição</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde autem voluptatibus voluptatum, debitis qui corporis sit quam esse laborum culpa aliquam. Porro consequuntur delectus molestias nesciunt nulla deserunt nostrum velit.</p>
            <button class="btn btn-orange logo">Eu quero!</button>

            <h3 class="my-2">Detalhes</h3>
            <div class="row justify-content-between">
                <table class="table table-hover col-sm-12 col-md-6 m-0">
                    <tbody>
                        <tr class="justify-content-between ">
                            <td><strong> Tarja: </strong></td>
                            <td>
                                <span class="badge badge-danger" style="width: 30px; height: 18px">&nbsp;</span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Embalagem: </strong></td>
                            <td>Caixa</td>
                        </tr>
                        <tr>
                            <td><strong>Quantidade: </strong></td>
                            <td>5 un</td>
                        </tr>
                        <tr>
                            <td><strong>Dosagem: </strong></td>
                            <td>500 mg</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-hover col-sm-12 col-md-6 m-0">

                    <tbody>
                        <tr>
                            <td><strong>Data Fabricação: </strong></td>
                            <td>23/01/2018</td>
                        </tr>
                        <tr>
                            <td><strong>Data Validade: </strong></td>
                            <td>23/01/2021</td>
                        </tr>
                        <tr>
                            <td><strong>Número Lote: </strong></td>
                            <td>5048000354</td>
                        </tr>
                        <tr>
                            <td><strong>Distancia: </strong></td>
                            <td>~ 15 Km</td>
                        </tr>

                    </tbody>

                </table>

            </div>




        </section>
    </div>

</div>
<app-footer></app-footer>