<div class="container form-center">

    <form [formGroup]="form" (ngSubmit)="submit()" class="form-signin text-center">
        <div class="logo" style="display: flex; justify-content: center; align-items: center">
            <a class="farmaciaSocial" routerLink="/" style="text-decoration: none; padding: 0px">
                <img src="../../../assets/images/logo.png" height="50px" class="d-inline-block align-top" />
                <span style="color: #f4a261">Farmácia </span>
                <span style="color: #2a9d8f">Social</span>
            </a>
        </div>
        <div>
            <h1 class="h4 mb-3">Cadastre uma nova senha</h1>

            <label for="inputPassword" class="sr-only">Nova Senha</label>
            <fieldset class="form-group">
                <input formControlName="password" placeholder="Nova Senha" class="form-control form-control-lg" type="password" required />
            </fieldset>
            <label for="inputPassword" class="sr-only">Confirme a Nova Senha</label>
            <fieldset class="form-group">
                <input formControlName="confirmPassword" placeholder="Confirme a Nova Senha" class="form-control form-control-lg" type="password" required />
            </fieldset>

            <button class="btn btn-primary btn-block btn-orange" [disabled]="!form.valid" type="submit">Resetar Senha</button>

        </div>
    </form>

</div>