<app-header></app-header>
<div class="corpoTela container" *ngIf="donation">
  <div class="row">
    <section class="imagem col-sm-12 col-md-6">
      <carousel>
        <slide class="carousel-slide-item">
          <img
            class="carousel-images"
            src="{{ donation.pictureFile }}"
            alt="first slide"
            height="800"
          />
        </slide>
        <slide class="carousel-slide-item">
          <img
            class="carousel-images"
            src="{{ donation.pictureFileBack }}"
            alt="second slide"
            height="800"
          />
        </slide>
      </carousel>
    </section>

    <section class="conteudo col-sm-12 col-md-6 d-flex-column">
      <h2 class="text-weight-bold text-center">{{ donation.title }}</h2>

      <h3>Descrição</h3>
      <p>{{ donation.description }}</p>
      <button
        *ngIf="donation.userId != id"
        class="btn btn-orange logo"
        type="button"
        [disabled]="statusId != 1"
        (click)="submitReserve()"
      >
        {{ statusId == 1 ? 'Eu quero!' : 'Doação já reservada!' }}
      </button>

      <h3 class="my-2">Detalhes</h3>
      <div class="row justify-content-between">
        <table class="table table-hover col-sm-12 col-md-6 m-0">
          <tbody>
            <tr class="justify-content-between">
              <td><strong> Tarja: </strong></td>
              <td>
                <!-- <span class="badge badge-danger" style="width: 30px; height: 18px">&nbsp;</span> -->
                <span
                  class="badge"
                  [ngClass]="{
                    'badge-success': donation.stripe == 'green',
                    'badge-warning': donation.stripe == 'yellow',
                    'badge-danger': donation.stripe == 'red',
                    'badge-dark': donation.stripe == 'black'
                  }"
                  style="width: 30px; height: 18px"
                  >&nbsp;</span
                >
              </td>
            </tr>
            <tr>
              <td><strong>Embalagem: </strong></td>
              <td>{{ donation.packing }}</td>
            </tr>
            <tr>
              <td><strong>Quantidade: </strong></td>
              <td>{{ donation.amount }} un</td>
            </tr>
            <tr>
              <td><strong>Dosagem: </strong></td>
              <td>{{ donation.dosage }} mg</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-hover col-sm-12 col-md-6 m-0">
          <tbody>
            <tr>
              <td><strong>Data Fabricação: </strong></td>
              <td>{{ donation.manufacturyDate | date: 'dd/MM/yyyy' }}</td>
            </tr>
            <tr>
              <td><strong>Data Validade: </strong></td>
              <td>{{ donation.shelfLife | date: 'dd/MM/yyyy' }}</td>
            </tr>
            <tr>
              <td><strong>Número Lote: </strong></td>
              <td>{{ donation.batchCode }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
<app-footer></app-footer>
